html {
    background: #ffffff;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #ffffff;
    min-height: 50em;
}
header {   
    color: black;
    padding: 1em 0;
    text-align: center;
    position: sticky;
    top: 0;
    background: #0047ab;
    z-index: 1000;
}
/*Navigation Style*/
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #242424;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

p {
    line-height: 1.4em;
}

/*blog section*/

